/node_modules
/vendor
/public/css
/public/images
/public/js
/public/media
/public/plugins

.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
